<!-- List of customer -->

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">

    <!-- Customer List Table -->
    <mat-card class="card mb-2">
        <mat-card-content class="mat-card-content">
            <!-- Loader -->
            <div class="loader" *ngIf="load">
                <p>Cargando...</p>
            </div>
            <!-- Table of Customers -->
            <div class="box-list" *ngIf="!empty">
                <div class="filter">
                    <mat-form-field appearance="outline">
                        <mat-label>Filtrar</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar un cliente" #input>
                    </mat-form-field>
                    <a mat-flat-button color="primary" routerLink="../customer-edit">
                        + Agregar Cliente
                    </a>
                </div>
                <table mat-table [dataSource]="dataSource" class="mt-1" matSort>
                
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element" class="font-family-def font-size-def">
                            <p class="mb-0" style="color: rgb(72, 72, 222);">#{{ element.id }}</p>
                        </td>
                    </ng-container>

                    <!-- Customer Column -->
                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CLIENTE </th>
                        <td mat-cell *matCellDef="let element" class="font-family-def"> 
                            <!-- código de la columna que muestra la informacion del cliente -->
                            <div class="customer-column">
                                <div class="me-2">
                                    <div class="avatar image-customer" matTooltip="{{ element.name }}" matTooltipPosition="above">
                                        <img class="rounded-circle" [src]="uriImg + element.thumbnail" *ngIf="element.thumbnail != 'no-image.png'">
                                        <span *ngIf="element.thumbnail == 'no-image.png'">
                                            <p class="mb-0">
                                                {{ element.name.split('')[0].substring(0, 1) + element.name.split(' ')[1].substring(0, 1) }}
                                            </p>
                                        </span>
                                    </div>
                                </div>
                                <div class="text-customer text-customer-box max-600-hidden">
                                    <span class="name-customer">
                                        {{ element.name || 'Sin información' }}
                                    </span>
                                    <small class="email-customer">
                                        {{ element.email || 'Sin informción' }}
                                    </small>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- phone Column -->
                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef class="max-1280-hidden"> TELEFONO </th>
                        <td mat-cell *matCellDef="let element" class="max-1280-hidden font-family-def">
                            <!-- código que muestra el teléfono del cliente -->
                            <p class="mb-0 fs-16">{{ element.phone }}</p>
                        </td>
                    </ng-container>

                    <!-- whatsapp Column -->
                    <ng-container matColumnDef="whatsapp">
                        <th mat-header-cell *matHeaderCellDef class="max-768-hidden"> WHATSAPP </th>
                        <td mat-cell *matCellDef="let element" class="max-768-hidden">
                            <!-- código que muestra el whatsapp del cliente -->
                            <button mat-icon-button 
                                    color="primary" 
                                    (click)="openDialogWhatsapp($event, element.whatsapp)"
                                    matTooltip="Enviar un mensaje"
                                    [disabled]="element.whatsapp == ''">
                                <mat-icon style="position: relative; bottom: 2px;">phone_iphone</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <!-- address Column -->
                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-1400-hidden"> DIRECCION </th>
                        <td mat-cell *matCellDef="let element" class="max-1400-hidden font-family-def">
                            <!-- código que muestra la dirección del cliente -->
                            <p class="mb-0 fs-16">{{ element.address }}</p>
                        </td>
                    </ng-container>

                    <!-- city column -->
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-600-hidden"> PAIS </th>
                        <td mat-cell *matCellDef="let element" class="max-600-hidden font-family-def">
                            <!-- código que muestra la ciudad del cliente -->
                            {{ element.city }}
                        </td>
                    </ng-container>

                    <!-- state column -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-600-hidden"> PAIS </th>
                        <td mat-cell *matCellDef="let element" class="max-600-hidden font-family-def">
                            <!-- código que muestra la provincia del cliente -->
                            {{ element.state }}
                        </td>
                    </ng-container>
    
                    <!-- country column -->
                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-600-hidden"> PAIS </th>
                        <td mat-cell *matCellDef="let element" class="max-600-hidden font-family-def">
                            <!-- código que muestra el país del cliente -->
                            {{ element.country }}
                        </td>
                    </ng-container>

                    <!-- edit Column -->
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> EDITAR </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- botón que permite editar el cliente -->
                            <button mat-icon-button color="primary" (click)="editCustomer(element.id)">
                                <mat-icon style="position: relative; bottom: 2px;">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)" class="bill-row"></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Búsqueda sin resultados para "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator class="m-t-15" [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" showFirstLastButtons aria-label="paginador"></mat-paginator>              
            </div>
            <!-- Recharge button -->
            <div class="recharge" *ngIf="recharge">
                <!-- Botón para recargar los datos -->
                <button mat-raised-button color="accent" (click)="rechargeData()">Recargar los datos</button>
            </div>
            <!-- No Customers -->
            <div class="recharge" *ngIf="empty">
                <!-- Botón para recargar los datos -->
                <p>No hay clientes</p>
                <a mat-flat-button color="primary" routerLink="../customer-edit">
                    + Agregar Cliente
                </a>
            </div>
        </mat-card-content>
    </mat-card>

</div>
<!-- / Content -->
