<!-- Modal de edición del evento -->

<!-- Modal de edición del evento -->
<mat-card class="p-4">
    <h4 class="text-left pb-1 b-b">Editar evento</h4>
    <form class="p-3 pb-0" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <!-- Nombre del evento -->
        <mat-form-field>
            <mat-label>Nombre del evento</mat-label>
            <input matInput formControlName="name" placeholder="Ej. Mi cumpleaños">
            <mat-error class="fs-08" *ngIf="dataForm.controls['name'].errors">{{ getErrorName() }}</mat-error>
        </mat-form-field>

        <!-- Descripción del evento -->
        <mat-form-field>
            <mat-label>Descripción adicional</mat-label>
            <input matInput formControlName="description" placeholder="Añadir detalles adicionales...">
        </mat-form-field>

        <!-- Tipo de evento -->
        <mat-radio-group formControlName="type" class="d-block mb-2">
            <mat-radio-button value="aniversario">Aniversario</mat-radio-button>
            <mat-radio-button value="deseo">Deseo</mat-radio-button>
        </mat-radio-group>

        <!-- Fecha del evento -->
        <mat-form-field>
            <mat-label>Fecha del evento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Seleccione una fecha">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error class="fs-08" *ngIf="dataForm.controls['date'].errors">{{ getErrorDate() }}</mat-error>
        </mat-form-field>
  
        <div class="mb-2">
            <!-- Agregar meta -->
            <mat-checkbox formControlName="addGoal">¿Agregar meta?</mat-checkbox>
        
            <mat-form-field *ngIf="dataForm.controls['addGoal'].value">
                <mat-label>Monto meta</mat-label>
                <input matInput formControlName="goal" placeholder="Ej. 1000">
            </mat-form-field>
        </div>
  
        <!-- Botón para enviar -->
        <button mat-flat-button class="btn-border w-100" color="primary" type="submit" [disabled]="dataForm.invalid || this.loading || dataForm.pristine">
            <ng-container *ngIf="!loading; else loadingSpinner">
              Guardar cambios
            </ng-container>
            <ng-template #loadingSpinner>
              <mat-spinner diameter="20"></mat-spinner>
            </ng-template>
        </button>
    </form>
</mat-card>

  