<div class="login-register">
    <div class="login-register-box">
        <mat-card class="card">
            <mat-card-content class="pb-2">
                <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex flex-column align-items-center mt-1">
                        <img src="assets/images/system/logo-icon.png" alt="homepage" style="height: 33px;">
                        <h4 class="mt-1 mb-4">Registrate aquí</h4>
                    </div>
                    <div class="form-auth">
                        <mat-form-field class="w-100 mb-1" appearance="fill">
                            <mat-label>Ingresá tu correo</mat-label>
                            <input matInput placeholder="algo@ejemplo.com"
                                       formControlName="email" 
                                       required>
                            <mat-error *ngIf="this.dataForm.controls['email']!.errors" class="fs-08">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-1" appearance="fill">
                            <mat-label>Ingresá una contraseña</mat-label>
                            <input matInput [type]="hide_1 ? 'password' : 'text'"
                                    [formControl]="passwordFirst"
                                    required>
                            <button mat-icon-button matSuffix (click)="hidePassword_1($event)" >
                            <mat-icon>{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="this.passwordFirst.errors" class="fs-08">{{getPasswordErrorMessageFirst()}}</mat-error>
                        </mat-form-field>
                        <div *ngIf="this.dataForm.errors?.['no_equal']">Las contraseñas no coinciden</div>
                        <mat-form-field class="w-100 mb-1" appearance="fill">
                            <mat-label>Confirmá tu contraseña</mat-label>
                            <input matInput [type]="hide_2 ? 'password' : 'text'"
                                    formControlName="password"
                                    required>
                            <button mat-icon-button matSuffix (click)="hidePassword_2($event)" >
                            <mat-icon>{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="this.dataForm.controls['password']!.errors" class="fs-08">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <button mat-flat-button class="btn-border" color="primary" type="submit" [disabled]="dataForm.invalid || this.loading">
                            <ng-container *ngIf="!loading; else loadingSpinner">
                              Crear mi cuenta
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </button>
                        <div class="new-register-link">
                            <span> Ya tenés una cuenta?
                                <a href="#" class="text-success link fw-bolder">Ingresá!</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>          
    </div>
</div>
