<div class="d-flex align-items-center">
    <button
    [matMenuTriggerFor]="notification"
    mat-icon-button 
    class="btn-header-login me-2">
        <mat-icon class="m-0" style="position: relative; top: 3px;">notifications_none</mat-icon>
    </button>
    <button
        [matMenuTriggerFor]="profile"
        mat-icon-button 
        class="btn-header-login">
        <img [src]="pic" alt="profile pic" class="profile-pic-icon">
    </button>
</div>

<mat-menu #notification="matMenu" class="btn-border" xPosition="before">
    <div class="gap-container">
        <div class="d-flex align-items-center soft-grey-background p-3 pt-2 pb-2 btn-border" *ngIf="false">
            <p class="fw-semibold text-center w-100">No hay notificaciones</p>
        </div>
        <app-notification-message></app-notification-message>
    </div>
</mat-menu>

<mat-menu #profile="matMenu" class="btn-border" xPosition="before">
    <a mat-menu-item *ngIf="isAuthenticated" routerLink="../profile/:id" routerLinkActive="active" class="fw-500">
        <span class="material-symbols-outlined align-icon">
            person
        </span>
        Mi perfíl </a>
    <a mat-menu-item *ngIf="isAuthenticated" routerLink="../settings/:id" routerLinkActive="active" class="fw-500">
        <span class="material-symbols-outlined align-icon">
            settings
        </span>
        Configuración </a>
    <button mat-menu-item *ngIf="isLogged && isAuthenticated" (click)="logOff()" class="fw-300">
        <span class="material-symbols-outlined align-icon">
            logout
        </span>
        Cerrar sesión </button>
    <button mat-menu-item *ngIf="isLogged && !isAuthenticated" (click)="logOffAll()">
        <span class="material-symbols-outlined align-icon">
            logout
        </span>
        Olvidar sesión </button>
</mat-menu>
