
<button
    [matMenuTriggerFor]="notification"
    mat-icon-button 
    class="btn-header-login me-2"
> <mat-icon class="m-0" style="position: relative; top: 3px;">notifications_none</mat-icon>
</button>
<button
    [matMenuTriggerFor]="profile"
    mat-icon-button 
    class="btn-header-login"
> <img [src]="pic" alt="profile pic" class="profile-pic-icon">
</button>


<mat-menu #notification="matMenu" class="btn-border" xPosition="before">
    <div class="p-2">
        <p>No hay notificaciones</p>
    </div>
</mat-menu>

<mat-menu #profile="matMenu" class="btn-border" xPosition="before">
    <a mat-menu-item *ngIf="isAuthenticated" routerLink="../init/main" routerLinkActive="active" class="fw-500">
        <mat-icon>dashboard</mat-icon> Tablero </a>
    <a mat-menu-item *ngIf="isAuthenticated" routerLink="../init/settings" routerLinkActive="active" class="fw-500">
        <mat-icon>settings</mat-icon> Configuración </a>
    <button mat-menu-item *ngIf="isLogged && isAuthenticated" (click)="logOff()" class="fw-300">
        <mat-icon>exit_to_app</mat-icon> Cerrar sesión </button>
    <button mat-menu-item *ngIf="isLogged && !isAuthenticated" (click)="logOffAll()">
        <mat-icon>exit_to_app</mat-icon> Olvidar sesión </button>
</mat-menu>
