<!-- Caja de cada mensaje de regalo enviado -->

<div class="d-flex align-items-center soft-grey-background p-3 pt-2 pb-2 btn-border">
    <!-- Contenedor de la imagen -->
    <div class="image-container">
      <img [src]="uriImg + (gift.thumbnail?gift.thumbnail:'/no-image-user.png')" class="image-user">
    </div>
    
    <!-- Contenedor del texto -->
    <div class="text-container flex-grow-1">
      <p class="font-14 mb-0 text-wrap">
        <span class="fw-semibold cap">{{ gift.userName || gift.name || gift.email.split('@')[0] }}</span>
        <span> dió un regalo.</span>
        <span class="ms-2 btn-border background-main fw-400 b-all ps-2 pe-2" *ngIf="gift.visible == 1">${{ gift.qty }}</span>
      </p>
    </div>
  
    <!-- Ícono a la derecha -->
    <div>
      <span class="material-symbols-outlined align-icon primary-color" style="font-size: 20px;">
        person_check
      </span>
    </div>
</div>