<!-- Caja de cada mensaje de regalo enviado -->

<div class="d-flex align-items-center soft-grey-background p-3 pt-2 pb-2 btn-border">
    <!-- Contenedor de la imagen -->
    <div class="image-container">
      <img src="../../../assets/images/juan.png" class="image-user">
    </div>
    
    <!-- Contenedor del texto -->
    <div class="text-container flex-grow-1">
      <p class="font-14 mb-0 text-wrap">
        <span class="fw-semibold">Juan Fernandez</span>
        <span> te hizo un regalo</span>
      </p>
    </div>
  
    <!-- Ícono a la derecha -->
    <div>
      <span class="material-symbols-outlined align-icon primary-color" style="font-size: 20px;">
        person_check
      </span>
    </div>
</div>