
<div class="row event-box">
    <!-- Event -->
    <div class="col-md-12 col-xl-8 mb-3">
        <!-- Evento -->
        <app-event-box></app-event-box>

        <!-- Mensajes -->
        <h4 class="text-left mb-1 mt-3">Mensajes</h4>
        <div class="gap-container p-2">
          <app-message-card></app-message-card>
          <app-message-card></app-message-card>
          <app-message-card></app-message-card>
          <app-message-card></app-message-card>
          <app-message-card></app-message-card>
          <app-message-card></app-message-card>
        </div>
    </div>
    <!-- Regalos -->
    <div class="col-md-12 col-xl-4">
        <h4 class="text-left mb-3">Regalos</h4>
        <app-gift-box></app-gift-box>
    </div>
</div>