<mat-sidenav-container class="container-sidenav" autosize (backdropClick)="closeSidenav()">
    <mat-sidenav [(opened)]="opened" [mode]="mode"> 
        <app-sidebar [setMenu]="'settings'" [employee]="employee"></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content class="background-main layout-container">
        <div class="content-sidenav btn-border ms-2 me-2">
            <div class="page-breadcrumb">
                <p class="mb-0 fw-500">
                    {{ title }}
                </p>
            </div>
        </div>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>    
    </mat-sidenav-content>
</mat-sidenav-container>
  