<div class="login-register">
    <div class="login-register-box">
        <!-- Email -->
        <mat-card class="card" *ngIf="show_window == 'email'">
            <mat-card-content class="pb-2">
                <form [formGroup]="dataForm" (ngSubmit)="sendEmail()">
                    <div class="text-center mt-1">
                        <img src="assets/images/system/logo-icon.png" alt="homepage" height="33">
                        <h4 class="mt-1 mb-3">Reestablecer contraseña</h4>
                    </div>
                    <p class="text-center font-14">
                        Ingresá tu correo y enviaremos un código para reestablecer tu contraseña
                    </p>
                    <div class="form-auth">
                        <mat-form-field class="w-100 mb-1" appearance="outline">
                            <mat-label>Ingresá tu correo</mat-label>
                            <input matInput placeholder="algo@ejemplo.com"
                                    formControlName="email" 
                                    required>
                            <mat-error *ngIf="this.dataForm.controls['email']!.errors" class="fs-08">{{getEmailValidatorErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <button mat-flat-button class="btn-border" color="primary" type="submit" [disabled]="dataForm.invalid || this.loading_email">
                            <ng-container *ngIf="!loading_email; else loadingSpinner">
                              Entrar
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </button>
                        
                        <div class="new-register-link font-14">
                            <span> Ya tengo un código
                                <a (click)="goCode()" class="text-success link cursor-pointer fw-bolder">Ingresalo!</a>
                            </span>
                        </div>
                        <div class="new-register-link font-14">
                            <span> Recordás tus credenciales?
                                <a routerLink="../login" class="text-success link fw-bolder">Ingresá!</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        
        <!-- Code -->
        <mat-card class="card" *ngIf="show_window == 'code'">
            <mat-card-content class="pb-2">
                <form [formGroup]="codeForm" (ngSubmit)="sendCode()">
                    <div class="text-center mt-1">
                        <img src="assets/images/system/logo-icon.png" alt="homepage" height="33">
                        <h4 class="mt-1 mb-3">Verificá tu cuenta</h4>
                    </div>
                    <p class="text-center font-14">
                        Ingresá tu correo electrónico y el código alfanumérico para continuar
                    </p>
                    <div class="form-auth">
                        <mat-form-field class="w-100 mb-1" appearance="outline">
                            <mat-label>Ingresá tu correo</mat-label>
                            <input matInput placeholder="algo@ejemplo.com"
                                    formControlName="email" 
                                    required>
                            <mat-error *ngIf="this.codeForm.controls['email']!.errors" class="fs-08">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100 mb-1" appearance="outline">
                            <mat-label>Ingresá el código alfanumérico</mat-label>
                            <input matInput 
                                    #input 
                                    maxlength="10"
                                    minlength="10" 
                                    formControlName="activation_code"
                                    required>
                            <mat-error *ngIf="this.codeForm.controls['activation_code']!.errors" class="fs-08">{{getCodeErrorMessage()}}</mat-error>
                            <mat-hint class="fs-08" align="end">{{input.value.length}}/10</mat-hint>
                        </mat-form-field>
                        <button mat-flat-button class="btn-border" color="primary" type="submit" [disabled]="codeForm.invalid || this.loading_code">
                            <ng-container *ngIf="!loading_code; else loadingSpinner">
                              Confirmar código
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </button>
                        <div class="new-register-link font-14">
                            <span> Reenviar el código?
                                <a (click)="goEmail()" class="text-success link cursor-pointer fw-bolder">Reenvialo!</a>
                            </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card> 

        <!-- Password -->
        <mat-card class="card" *ngIf="show_window == 'password'">
            <mat-card-content class="pb-2">
                <form [formGroup]="passwordForm" (ngSubmit)="sendPassword()">
                    <div class="text-center">
                        <img src="assets/images/system/logo-icon.png" alt="homepage" height="33">
                        <h4 class="m-t-0 mb-4">Ingresá tu nueva contraseña</h4>
                    </div>
                    <p class="text-center font-14">
                        Ingresá tu nueva contraseña de acceso y confirmala
                    </p>
                    <div class="form-auth">
                        <mat-form-field class="w-100 mb-1" appearance="outline">
                            <mat-label>Ingresá una contraseña</mat-label>
                            <input matInput [type]="hide_1 ? 'password' : 'text'"
                                    [formControl]="passwordFirst"
                                    required>
                            <button mat-icon-button matSuffix (click)="hidePassword_1($event)" >
                            <mat-icon>{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="this.passwordFirst.errors" class="fs-08">{{getPasswordErrorMessageFirst()}}</mat-error>
                        </mat-form-field>
                        <div *ngIf="this.passwordForm.errors?.['no_equal']">Las contraseñas no coinciden</div>
                        <mat-form-field class="w-100 mb-1" appearance="outline">
                            <mat-label>Confirmá tu contraseña</mat-label>
                            <input matInput [type]="hide_2 ? 'password' : 'text'"
                                    formControlName="password"
                                    required>
                            <button mat-icon-button matSuffix (click)="hidePassword_2($event)" >
                            <mat-icon>{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="this.passwordForm.controls['password']!.errors" class="fs-08">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <button mat-flat-button class="btn-border" color="primary" type="submit" [disabled]="passwordForm.invalid || this.loading_password">
                            <ng-container *ngIf="!loading_password; else loadingSpinner">
                                Actualizar mi cuenta
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
