<div class="login-register">
    <div class="login-register-box">
        <mat-card class="card">
            <mat-card-content class="pb-2">
                <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img class="profile-pic-recharge" [src]="pic" alt="profile-pic">
                    </div>
                    <div class="form-auth">
                        <h3 class="w-100 mb-3 text-center btn b-all">{{ email }}</h3>
                        <input type="hidden" formControlName="email" required>
                        <input type="hidden" formControlName="password" required>
                        <button mat-flat-button class="btn" color="primary" type="submit" [disabled]="this.loading">
                            <ng-container *ngIf="!loading; else loadingSpinner">
                              Entrar
                            </ng-container>
                            <ng-template #loadingSpinner>
                              <mat-spinner diameter="20"></mat-spinner>
                            </ng-template>
                        </button>
                        <button mat-flat-button class="text-muted mt-2" type="button" (click)="logOffAll()"><mat-icon>exit_to_app</mat-icon> Cambiar de cuenta </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>          
    </div>
</div>
