<!-- Caja de regalos, adentro van los mensajes de los regalos realizados -->

<mat-card class="card">
    <mat-card-content>
        <div class="gap-container mb-3">
          <app-gift-message-box></app-gift-message-box>
          <app-gift-message-box></app-gift-message-box>
          <app-gift-message-box></app-gift-message-box>
        </div>
        <button mat-flat-button color="primary" class="btn-border w-100">
            Hacer un regalo
        </button>
        <div class="mt-2 btn-border b-all p-1">
            <p class="text-center font-14">Acumulado: $<span class="fw-semibold primary-color font-18">15600</span></p>
        </div>
    </mat-card-content>
</mat-card>