<!-- Caja de mensajes con dedicatoria de cada persona que hizo un regalo -->

<mat-card class="card box-size">
    <mat-card-content class="p-0" style="height: 100%;">
        <div class="d-flex flex-column justify-content-between" style="height: 100%;">
            <div class="d-flex justify-content-between align-items-center">
                <p class="font-12 mb-0"><span class="fw-semibold">Franco</span> dice:</p>
                <span class="material-symbols-outlined primary-color" style="font-size: 18px;">
                    person_check
                </span>
            </div>
            <div class="d-flex align-items-center">
                <p class="font-15 text-center mb-0 fw-semibold">
                    "Felicidades en este día tan especial. Te dejo un pequeño presente.”
                </p>
            </div>
            <div class="d-flex justify-content-end">
                <span class="font-12 b-all btn-border primary-color soft-grey-background fw-400 ps-2 pe-2">Hace 2 días</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>