
<mat-card class="card profile-card">
    <mat-card-content>
        <div class="edit-box btn-border bg-primary">
            <button class="b-all" mat-icon-button (click)="editProfile(profileId)" *ngIf="isUser && status">
                <span class="material-symbols-outlined align-button-icon text-white">
                    edit
                </span>
            </button>
        </div>
        <div class="info-box" *ngIf="!loading">
            <!-- Información -->
            <div class="d-flex justify-content-start">
                <!-- image -->
                <div class="img-container">
                    <div class="btn-border img-box">
                        <img [src]="uriImg + profileData.thumbnail" class="btn-border" alt="user image">
                    </div>
                </div>
                <!-- text -->
                <div class="d-flex flex-column align-items-start ms-4 pb-2">
                    <p class="mb-0 fw-bold font-22 cap">{{ profileData.name || profileData.email.split('@')[0] || 'Sin información' }}</p>
                    <div class="description-box">
                        <div class="me-4">
                            <span class="material-symbols-outlined align-icon">
                                location_on
                            </span>
                            <span>{{ profileData.location || 'Sin información' }}</span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined align-icon">
                                person_check
                            </span>
                            <span>{{  getFollowersNumber(profileData.followers) || 0 }}</span> seguidores
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sociales -->
            <div class="d-flex justify-content-end align-items-center">
                <!-- follow -->
                <app-button-follow [profileId]="profileId" [hideText]="false" *ngIf="!isUser" (doneFollow)="doneFollow($event)"></app-button-follow>
            </div>
        </div>
        <div class="info-box" *ngIf="loading">
            ...cargando
        </div>
    </mat-card-content>
</mat-card>

<div style="max-width: 1280px; margin: auto;">
    <h4 class="m-4 mb-3">Eventos</h4>
    <!-- Caja con eventos -->
    <div class="event-box flex-wrap gap-4 pb-3" style="height: calc(100vh - 429px); overflow-y: auto;" *ngIf="isUser?status:true">
        <!-- Caja "Agregar Evento" -->
        <div class="d-flex align-items-center justify-content-center b-all btn-border add-event size-box" (click)="editEvent(profileId, '')" *ngIf="isUser">
            <h5 class="w-100 text-center add-event-text">
                + Agregar Evento
            </h5>
        </div>

        <!-- Cajas con eventos -->
        <ng-container *ngIf="eventList.length > 0">
            <ng-container *ngFor="let event of eventList">
                <app-event-card class="btn-border" [event]="event"></app-event-card>
            </ng-container>
        </ng-container>
        <div *ngIf="eventList.length == 0 && !isUser">
            <p>No hay eventos</p>
        </div>
        <div *ngIf="eventLoading">
            <p>...cargando</p>
        </div>
    </div>
    <!-- Caja advertencia si la cuenta no está activada -->
    <div class="d-flex align-items-center flex-column" *ngIf="!status && isUser">
        <p class="d-block mb-2">Tu cuenta no está activada</p>
        <a mat-flat-button color="accent" routerLink="/settings/verify-account">Activar</a>
    </div>
</div>

  