
<mat-card class="card profile-card">
    <mat-card-content>
        <div class="edit-box btn-border bg-primary">
            <button class="b-all" mat-icon-button (click)="editProfile(profileId)" *ngIf="isUser">
                <span class="material-symbols-outlined align-button-icon text-white">
                    edit
                </span>
            </button>
        </div>
        <div class="info-box" *ngIf="!loading">
            <!-- Información -->
            <div class="d-flex justify-content-start">
                <!-- image -->
                <div class="img-container">
                    <div class="btn-border img-box">
                        <img [src]="uriImg + profileData.thumbnail" class="btn-border" alt="user image">
                    </div>
                </div>
                <!-- text -->
                <div class="d-flex flex-column align-items-start ms-4 pb-2">
                    <p class="mb-0 fw-bold font-22">{{ profileData.name || 'Sin información' }}</p>
                    <div class="description-box">
                        <div class="me-4">
                            <span class="material-symbols-outlined align-icon">
                                location_on
                            </span>
                            <span>{{ profileData.location || 'Sin información' }}</span>
                        </div>
                        <div>
                            <span class="material-symbols-outlined align-icon">
                                person_check
                            </span>
                            <span>{{  getFollowersNumber(profileData.followed) || 0 }}</span> seguidores
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sociales -->
            <div class="d-flex justify-content-end align-items-center">
                <!-- follow -->
                <button mat-stroked-button 
                        class="btn-border d-flex justify-content-center ms-4 mt-1 pb-1" 
                        color="primary" 
                        *ngIf="!isUser" 
                        (click)="follow(isFollowed?false:true, profileData.profileId)">
                    <div *ngIf="!isFollowed">
                        <span class="material-symbols-outlined align-icon">
                            person_add
                        </span>
                        <span class="status">Seguir</span>
                    </div>
                    <div *ngIf="isFollowed">
                        <span class="material-symbols-outlined align-icon">
                            person_check
                        </span>
                        <span class="status">Siguiendo</span>
                    </div>
                </button>
            </div>
        </div>
        <div class="info-box" *ngIf="loading">
            ...cargando
        </div>
    </mat-card-content>
</mat-card>

<div style="max-width: 1280px; margin: auto;">
    <h4 class="m-4 mb-3">Eventos</h4>
    <div class="event-box flex-wrap gap-4 pb-3" style="height: calc(100vh - 429px); overflow-y: auto;">
        <!-- Caja "Agregar Evento" -->
        <div class="d-flex align-items-center justify-content-center b-all btn-border add-event size-box" (click)="editEvent(profileId, '')" *ngIf="isUser">
            <h5 class="w-100 text-center add-event-text">
                + Agregar Evento
            </h5>
        </div>

        <!-- Cajas con eventos -->
        <ng-container *ngIf="eventList.length > 0">
            <ng-container *ngFor="let event of eventList">
                <app-event-card class="btn-border" [event]="event"></app-event-card>
            </ng-container>
        </ng-container>
        <div *ngIf="eventList.length == 0 && !isUser">
            <p>No hay eventos</p>
        </div>
        <div *ngIf="eventLoading">
            <p>...cargando</p>
        </div>
    </div>
</div>

  