/*******************
 Topbar
*******************/
mat-toolbar {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    .logo-header {
      text-align: center;
      .navbar-brand {
        display: flex;
        line-height: 18px;
        align-items: center;
        b {
          margin-right: 5px;
        }
      }
    }
    .btn-header-login {
      padding: 4px!important;
    }
    .name-header {
      font-size: 14px;
      line-height: 14px;
      font-weight: 500;
      text-align: left;
      text-transform: capitalize;
    }
    .profile-pic-btn {
      width: 24px;
      height: 24px;
      border-radius: 100%;
      margin-left: 8px;
    }
  
    .profile-pic-icon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
  }
  