<!-- Notificación recibida -->

<a [routerLink]="['/profile', notification.eventId]" class="d-flex align-items-center soft-grey-background p-3 pt-2 pb-2 btn-border cursor-pointer">
    <!-- Contenedor del texto -->
    <div class="text-container flex-grow-1">
        <p class="font-14 mb-0 text-wrap">
        <span class="fw-semibold">{{ notification?(notification.userName || notification.name || notification.email.split('@')[0]):'' }}</span>
        <span> {{ notification?notification.action:'' }}</span>
        </p>
    </div>
    
    <!-- Ícono a la derecha -->
    <div>
        <span class="material-symbols-outlined align-icon primary-color" style="font-size: 20px;">
            {{ notification?notification.icon:'' }}
        </span>
    </div>
</a>
